force-app/main/default/flows/CAZ_Consulta_Agentforce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agregar_Solicitudes_A_Coleccion</name>
        <label>Agregar_Solicitudes_A_Coleccion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reprogrammingRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Solicitudes_Reprogramacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_Texto_Solicitud</name>
        <label>Agregar_Texto_Solicitud</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>requestsText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTextoSolicitud</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ReprogrammingRequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_AccountId_Desde_Contacto</name>
        <label>Asignar_AccountId_Desde_Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_contacto.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_AccountId_Desde_Cuenta</name>
        <label>Asignar_AccountId_Desde_Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Cuenta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Output_SinResultados</name>
        <label>Asignar_Output_SinResultados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontré solicitudes de reprogramación asociadas a las órdenes de esta cuenta.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Output_SinResultados2</name>
        <label>Asignar_Output_SinResultados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontré una cuenta o contacto asociado a este número de celular.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_OutputMessage</name>
        <label>Asignar_OutputMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOutputMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existe_Contacto</name>
        <label>Existe Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No encontró contacto</defaultConnectorLabel>
        <rules>
            <name>S_encontr_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_contacto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_AccountId_Desde_Contacto</targetReference>
            </connector>
            <label>Sí encontró contacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Cuenta</name>
        <label>Existe_Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Output_SinResultados2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S_encontr_cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cuenta.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_AccountId_Desde_Cuenta</targetReference>
            </connector>
            <label>Sí encontró cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_Encontraron_Solicitudes</name>
        <label>Se_Encontraron_Solicitudes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Output_SinResultados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se encontraron</defaultConnectorLabel>
        <rules>
            <name>S_se_encontraron</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reprogrammingRequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ReprogrammingRequests</targetReference>
            </connector>
            <label>Sí se encontraron</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Solicitudes</name>
        <label>Tiene_Solicitudes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene solicitudes</defaultConnectorLabel>
        <rules>
            <name>S_tiene_solicitudes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Solicitudes_Reprogramacion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Solicitudes_A_Coleccion</targetReference>
            </connector>
            <label>Sí tiene solicitudes</label>
        </rules>
    </decisions>
    <description>Este flujo se utiliza para hacer la consulta de información que necesita el agente de agentforce.</description>
    <environments>Default</environments>
    <formulas>
        <name>cellphone</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Obtener_MessagingSession.MessagingEndUser.MessagingPlatformKey}, 10)</expression>
    </formulas>
    <formulas>
        <name>fOutputMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Encontré las siguientes solicitudes de reprogramación para tu cuenta:&quot;
&amp; BR()
&amp; {!requestsText}</expression>
    </formulas>
    <formulas>
        <name>fTextoSolicitud</name>
        <dataType>String</dataType>
        <expression>{!requestsText}
&amp; BR()
&amp; &quot;Fecha reprogramación: &quot;
&amp; TEXT({!Loop_ReprogrammingRequests.CAZ_Fecha_Reprogramacion__c})
&amp; &quot; | Motivo: &quot;
&amp; TEXT({!Loop_ReprogrammingRequests.Motivo__c})</expression>
    </formulas>
    <interviewLabel>CAZ_Consulta_Agentforce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAZ_Consulta_Agentforce_1</label>
    <loops>
        <name>Loop_Orders</name>
        <label>Loop_Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtener_Solicitudes_Reprogramacion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Se_Encontraron_Solicitudes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ReprogrammingRequests</name>
        <label>Loop_ReprogrammingRequests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>reprogrammingRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Agregar_Texto_Solicitud</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_OutputMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_contacto</name>
        <label>Obtener contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>cellphone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cuenta</name>
        <label>Obtener_Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>cellphone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_MessagingSession</name>
        <label>Obtener MessagingSession</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Orders</name>
        <label>Obtener_Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Solicitudes_Reprogramacion</name>
        <label>Obtener_Solicitudes_Reprogramacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene_Solicitudes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAZ_Numero_Orden__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Orders.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CAZ_Solicitud_Reprogramacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_MessagingSession</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpcionMenu</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reprogrammingRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAZ_Solicitud_Reprogramacion__c</objectType>
    </variables>
    <variables>
        <name>requestsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
