force-app/main/default/flows/CAZ_Order_Aprobacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Varios_procesos2</name>
        <label>Varios procesos2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SolicitudPdeAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CAZ_Aprobar_reprogramacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAZ_Aprobar_reprogramacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAZ_Order_aprobada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SolicitudPdeAR2</targetReference>
            </connector>
            <label>SolicitudPdeAR</label>
        </rules>
    </decisions>
    <decisions>
        <name>VariosProcesos</name>
        <label>Varios procesos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Varios_procesos2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PdeA_unico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CAZ_Order_aprobada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAZ_Order_aprobada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SolicitudPdeAUnico</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PdeA_unico</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Hoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CAZ_Notificación_Solicitud_Complemento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAZ_Order_Aprobación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Proceso autorizado de reprogramación</description>
        <name>SolicitudPdeAR2</name>
        <label>SolicitudPdeAR2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CAZ_Estado__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAZ_Fecha_Reprogramacion__c</field>
            <value>
                <elementReference>Hoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAZ_Motivo_reprogramacion__c</field>
            <value>
                <elementReference>$Record.CAZ_Motivo_reprogramacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAZ_Numero_Orden__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CAZ_Solicitud_Reprogramacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Primer y único PdeA</description>
        <name>SolicitudPdeAUnico</name>
        <label>SolicitudPdeAUnico</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CAZ_Estado__c</field>
            <value>
                <stringValue>Autorizado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAZ_Fecha_de_aprobacion__c</field>
            <value>
                <elementReference>Hoy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAZ_Numero_Orden__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CAZ_Solicitud_Reprogramacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VariosProcesos</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
