force-app/main/default/flows/CAZ_Consulta_Agentforce_5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agregar_Texto_Factura</name>
        <label>Agregar_Texto_Factura</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>requestsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fTextoFactura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Facturas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_AccountId_Desde_Contacto</name>
        <label>Asignar_AccountId_Desde_Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_contacto.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Facturas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_AccountId_Desde_Cuenta</name>
        <label>Asignar_AccountId_Desde_Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Cuenta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Facturas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Output_SinResultados</name>
        <label>Asignar_Output_SinResultados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontré facturas próximas a vencer asociadas a tu cuenta.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Output_SinResultados2</name>
        <label>Asignar_Output_SinResultados</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No encontré una cuenta o contacto asociado a este número de celular.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_OutputMessage</name>
        <label>Asignar_OutputMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestsText</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existe_Contacto</name>
        <label>Existe Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtener_Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No encontró contacto</defaultConnectorLabel>
        <rules>
            <name>S_encontr_contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_contacto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_AccountId_Desde_Contacto</targetReference>
            </connector>
            <label>Sí encontró contacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Cuenta</name>
        <label>Existe_Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Output_SinResultados2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S_encontr_cuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Cuenta.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_AccountId_Desde_Cuenta</targetReference>
            </connector>
            <label>Sí encontró cuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_Si_Se_Encontraron_Facturas</name>
        <label>Validar_Si_Se_Encontraron_Facturas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_Output_SinResultados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Se_Encontraron_Facturas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Facturas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Facturas</targetReference>
            </connector>
            <label>Se_Encontraron_Facturas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cellphone</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Obtener_MessagingSession.MessagingEndUser.MessagingPlatformKey}, 10)</expression>
    </formulas>
    <formulas>
        <name>fOutputMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Encontré las siguientes solicitudes de reprogramación para tu cuenta:&quot;
&amp; BR()
&amp; {!requestsText}</expression>
    </formulas>
    <formulas>
        <name>fTextoFactura</name>
        <dataType>String</dataType>
        <expression>&quot;Factura: &quot; &amp; {!Loop_Facturas.InvoiceNumber} &amp; BR() &amp;
&quot;Fecha de vencimiento: &quot; &amp; TEXT({!Loop_Facturas.DueDate}) &amp; BR() &amp;
&quot;Monto: &quot; &amp; TEXT({!Loop_Facturas.TotalAmount}) &amp; BR() &amp;
&quot;Estatus: &quot; &amp; TEXT({!Loop_Facturas.Status}) &amp; BR() &amp; BR()</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TODAY7</name>
        <dataType>Date</dataType>
        <expression> TODAY() + 7</expression>
    </formulas>
    <interviewLabel>CAZ_Consulta_Agentforce_5 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAZ_Consulta_Agentforce_5</label>
    <loops>
        <name>Loop_Facturas</name>
        <label>Loop_Facturas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obtener_Facturas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Agregar_Texto_Factura</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_OutputMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_contacto</name>
        <label>Obtener contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>cellphone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cuenta</name>
        <label>Obtener_Cuenta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>cellphone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Facturas</name>
        <label>Obtener_Facturas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validar_Si_Se_Encontraron_Facturas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DueDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </filters>
        <filters>
            <field>DueDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TODAY7</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_MessagingSession</name>
        <label>Obtener MessagingSession</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_MessagingSession</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reprogrammingRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAZ_Solicitud_Reprogramacion__c</objectType>
    </variables>
    <variables>
        <name>requestsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
