force-app/main/default/flows/CAZ_AUT_AsignacionListaPrecios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>validar_si_cambio_el_valor_del_campo</name>
        <label>validar si cambio el valor del campo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_de_planta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAZ_Planta__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CAZ_Planta__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Cambio de planta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validar_si_es_creacion_o_actulizacion</name>
        <label>Creacion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>validar_si_cambio_el_valor_del_campo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_la_lista_de_precios_que_esta_ligada_a_la_planta</targetReference>
            </connector>
            <label>Creacion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignacion de lista de precios del pedido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignacion de lista de precios del pedido</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_la_lista_de_precios_que_esta_ligada_a_la_planta</name>
        <label>Obtener la lista de precios que esta ligada a la planta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAZ_Planta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CAZ_Planta__c</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>listaPrecios</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CAZ_Planta__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Actualizar lista de precios</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sWD000001XHazYAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validar_si_es_creacion_o_actulizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAZ_Planta__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listaPrecios</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
