force-app/main/default/flows/CAZ_AlertaEmail_SolicitudActualizacionDatos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Actualización de dirección y/o correo realizada</description>
        <name>CAZ_ActualizacionDeDatos_correctos</name>
        <label>Actualización de datos correctos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Solicitud_de_actualizacion_de_datos__c.CAZ_ActualizacionDeDatos_correctos</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Solicitud_de_actualizacion_de_datos__c.CAZ_ActualizacionDeDatos_correctos</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ActualizaCampos</name>
        <label>Actualiza campos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Procesado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAZ_Estado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprobado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAZ_ActualizacionDeDatos_correctos</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Procesado</label>
        </rules>
    </decisions>
    <description>Alerta de correo para notificar que la actualización de domicilio / correo fue realizada</description>
    <environments>Default</environments>
    <formulas>
        <description>Copia el valor del correo electrónico desde la Cuenta asociada</description>
        <name>CorreoElectronico_desdeCuenta</name>
        <dataType>String</dataType>
        <expression>{!$Record.CAZ_Cuenta__r.CAZ_Correo_institucional__c}</expression>
    </formulas>
    <formulas>
        <description>Copia la dirección Billing</description>
        <name>Direccion_desdeCuenta</name>
        <dataType>String</dataType>
        <expression>{!$Record.CAZ_Cuenta__r.CAZ_Direccion_plantilla_B__c}</expression>
    </formulas>
    <interviewLabel>CAZ_AlertaEmail_Solicitud {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAZ_AlertaEmail_SolicitudActualizacionDatos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ActualizaCampos</targetReference>
        </connector>
        <object>Solicitud_de_actualizacion_de_datos__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
