force-app/main/default/flows/CAZ_SolicitudAmpliacionCredito_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Solicitud_Fields</name>
        <label>Assign Solicitud Fields</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SolicitudRecord.CAZ_MontoSolicitado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Monto_Solicitado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolicitudRecord.CAZ_Comentarios__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comentarios</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolicitudRecord.CAZ_Dias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dias_Solicitados</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolicitudRecord.CAZ_RFC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolicitudRecord.CAZ_Estatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Solicitud</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Solicitud Ampliación Crédito {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitud Ampliación Crédito</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Solicitud</name>
        <label>Create Solicitud</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Carga_de_Documentos</targetReference>
        </connector>
        <inputReference>SolicitudRecord</inputReference>
    </recordCreates>
    <screens>
        <name>Carga_de_Documentos</name>
        <label>Carga de Documentos</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pantalla_Final</targetReference>
        </connector>
        <fields>
            <name>LWC_Carga_Docs</name>
            <extensionName>c:cazCargaDocumentos</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>processName</name>
                <value>
                    <stringValue>Credito</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SolicitudRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Documentos de la Solicitud</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_de_la_Solicitud</name>
        <label>Datos de la Solicitud</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Solicitud_Fields</targetReference>
        </connector>
        <fields>
            <name>Instrucciones</name>
            <fieldText>&lt;p&gt;&lt;strong style="font-size: 16px;"&gt;Solicitud de Ampliación de Crédito&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor ingresa el monto que deseas solicitar y una breve descripción del motivo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Monto_Solicitado</name>
            <dataType>Currency</dataType>
            <fieldText>Monto Solicitado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Dias_Solicitados</name>
            <dataType>Number</dataType>
            <fieldText>Días Adicionales Solicitados</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RFC</name>
            <dataType>String</dataType>
            <fieldText>RFC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comentarios</name>
            <dataType>String</dataType>
            <fieldText>Comentarios / Motivo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Final</name>
        <label>Pantalla Final</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style="text-align: center;"&gt;&lt;strong style="font-size: 18px; color: rgb(6, 169, 78);"&gt;¡Solicitud enviada con éxito!&lt;/strong&gt;&lt;/p&gt;&lt;p style="text-align: center;"&gt;&lt;br&gt;&lt;/p&gt;&lt;p style="text-align: center;"&gt;Tu solicitud de ampliación de crédito y documentos han sido enviados a evaluación.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Datos_de_la_Solicitud</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SolicitudRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAZ_SolicitudCredito__c</objectType>
    </variables>
</Flow>
